/* CSS declarations go here */
body {
	background-color:#2980b9;
	color:white;
}
h1 {
	text-align: center;
	margin-top:1em;
	margin-bottom:.8em;
}
.wrapper {
	width: 100%;
	max-width: 800px;
	margin-left:auto;
	margin-right:auto;
}

.quote {
	text-align: center;
	font-size:120%;
	margin-bottom: 2em;
}

.floor {
	display: flex;
	margin-bottom: 2.5em;
	padding: 1em;
	border: 1px solid black;
	border-color:rgba(255, 255, 255, 0.35) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.18) rgba(255, 255, 255, 0.35);
	border-radius: 5px;
	background-color: #31ACFF;
}

.time {
	color: rgba(255, 255, 255, 0.6);
}

.floor-heading {
	flex-grow: 1;
	text-align: center;
}

.floor-div {
	flex-grow: 3;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
}

.shower {
	text-align: center;
}
.onoffswitch-inner {
	text-align: left;
}

.instructions {
	margin-bottom: 4em;
}

.copyright {
	text-align: center;
}
.copyright a {
	color: #89D8FF;
}

/* switch */

.onoffswitch {
    position: relative; width: 110px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 37px; padding: 0; line-height: 37px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Occupied";
    padding-left: 10px;
    background-color: #E74C3C; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Vacant";
    padding-right: 23px;
    background-color: #40D47E; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 15px; margin: 9.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 73px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
