/* CSS declarations go here */
body {
	background-color:#2980b9;
	color:white;
}
h1 {
	text-align: center;
	margin-top:1em;
	margin-bottom:.8em;
}
.wrapper {
	width: 100%;
	max-width: 800px;
	margin-left:auto;
	margin-right:auto;
}

.quote {
	text-align: center;
	font-size:120%;
	margin-bottom: 2em;
}

.floor {
	display: flex;
	margin-bottom: 2.5em;
	padding: 1em;
	border: 1px solid black;
	border-color:rgba(255, 255, 255, 0.35) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.18) rgba(255, 255, 255, 0.35);
	border-radius: 5px;
	background-color: #31ACFF;
}

.time {
	color: rgba(255, 255, 255, 0.6);
}

.floor-heading {
	flex-grow: 1;
	text-align: center;
	border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.floor-div {
	flex-grow: 3;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	border-left: 1px solid rgba(255, 255, 255, 0.16);
}

.shower {
}